#uploads
/frontend/uploads
/frontend/public/uploads

#testes
/frontend/db.json

# dependencies
/frontend/node_modules
/backend_party-halls/node_modules
/.pnp
.pnp.js

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
/frontend/.env*.local
.env.local
/backend_party-halls/.env

# vercel
/frontend/.vercel

#dist
/backend_party-halls/dist
