#uploads
uploads
public/uploads

#testes
db.json

#public
public/Videos

# dependencies
/node_modules
/backend_party-halls/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
.env*.local
.env.local
/backend_party-halls/.env

# vercel
.vercel
